body{
    background-color: #FFFBF5;
}

p{
    font-size: 1.5rem;
    margin: 0px;
}

a{
    text-decoration: none;
}

h1{
    margin: 8px;
}

.label-settings{
    display: block !important;
}

.form-input-padding{
    min-width: 100%;
}

.margin-padding{
    margin: 50px;
}

.dialogue-box{
    /*border: 0.2rem solid black;*/
    border-radius: 25px;
    padding: 2rem;
    margin: 4rem;
    min-width: 60%;

    -webkit-box-shadow:0 0 10px gray;
    -moz-box-shadow: 0 0 10px gray;
    box-shadow:0 0 10px gray;

}

.dialogue-box-label{
    font-size: 2rem;
    margin: 0.5rem;
}

.nav-bar{
    background-color: #b7c4cd;
    min-height: 8vh;
    /*padding: 20px;*/

    -webkit-box-shadow:0 0 15px gray;
    -moz-box-shadow: 0 0 15px gray;
    box-shadow:0 0 15px gray;
    margin-bottom: 4rem;
}

.nav-bar-element{
    font-size: 2rem;
    margin: 2rem;
}

.remove-all-margin{
    margin: 0px !important;
}

.testing-class{
    color: pink;
}

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    max-height: 145px;
    overflow-y: auto;
    overflow-x: hidden;
}

