{% extends 'base/base.html'%}

{% block title %} Login {% endblock %}

{% block body %}

<div class="container justify-content-center h-100">
    <div class="row">
        <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
            <h1>Register</h1>
            <div class="dialogue-box">
                    <form method="POST">
                        {% csrf_token %}

                        <div>
                            <label class="form-label" for="id_username">Username: </label>
                            {{form.username}}
                        </div>

                        <div>
                            <label class="form-label" for="id_password1">Password: </label>
                            {{form.password1}}
                        </div>

                        <div>
                            <label class="form-label" for="id_password2">Confirm Password: </label>
                            {{form.password2}}
                        </div>

                        <input type="submit" value="Register">
                    </form>

                    <p>Already have an account? </p>
                    <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
